* html {
   height: 100%;
}

body {
   position: relative;
   margin: 0;
   padding: 0;
   min-height: 100%;
   width: 100%;
}

.icone {
   width: 20px;
   height: 20px;
   margin-right: 10px;
}


header {
   background: rgb(110, 209, 34);
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;


   grid-area: header;
}


header .icone-texto {
   display: flex;
   justify-content: center;
   align-items: center;

}

header>div {
   padding-left: 20px;
}

main {
   padding-top: 20px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
}

.grid {
   min-height: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.grid>div {
   display: flex;
   flex-basis: calc(25% - 40px);
   justify-content: center;
   flex-direction: column;
}

.grid>div>div {
   display: flex;
   justify-content: center;
   flex-direction: row;
}

.cardImage {
   height: 50px;
   object-fit: fill;
}

footer {
   background: rgb(110, 209, 34);
   height: 60px;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   text-align: center;

}